
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoScripts.cshtml";
}

<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Loan List</strong></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="loans-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>autonum</th>
                            <th>Date of Loan</th>
                            <th>Reference No.</th>
                            <th>Borrower</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong><label id="borrowerName" value="Name">--</label></strong></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="ledger-table" class="table table-striped table-hover" style="width: 100%">
                        <thead>
                        <tr>
                            <th>autonum</th>
                            <th>Date</th>
                            <th>Ref No.</th>
                            <th>Amount Paid</th>
                            <th>Principal</th>
                            <th>Interest</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/validation")
@Scripts.Render("~/bundles/A-Custom/Tables")
@Scripts.Render("~/Scripts/Datas/custom-common.js")

@Scripts.Render("~/Scripts/Functions/LoanLedger/LoadLoanList.js")
@Scripts.Render("~/Scripts/Functions/LoanLedger/functions.js")