@model IEnumerable<Lending_System.Models.tbl_loan_type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNoScripts.cshtml";
}

<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="btn-danger pull-right" style="margin-top:-3px">

            </div>
            <h3 class="panel-title" style="color:#ffffff"><strong>Type of Loans List</strong></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div class="col-sm-12">
                    <table id="loantype-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        var RootUrl = '@Url.Content("~/")';
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/validation")
@Scripts.Render("~/bundles/A-Custom/Tables")
@Scripts.Render("~/Scripts/Datas/loantype-js.js")
@Scripts.Render("~/Scripts/Datas/custom-common.js")

<script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36060270-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();


          $('#collapse-sidebar').click(function()
          {

	        $('.navbar-side').toggleClass('navbar-side-closed');
	        $('#wrapper').toggleClass('wrapper-full');


          });

</script>